*{
  font-family: "montserrat",sans-serif;
  box-sizing: border-box;
}

body{
  align-items: center;
  background: linear-gradient(30deg, rgb(0, 128, 0), rgb(0, 128, 0), rgb(0, 125, 0));
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-container{
	display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.contact-info{
  display: flex;
  width: 100%;
  max-width: 1200px;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

.card{
  background: #fff;
  padding: 0 20px;
  margin: 0 10px;
  width: calc(33% - 20px);
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(0, 128, 0);
  cursor: pointer;
}

.card-icon{
  font-size: 28px;
  background: #f1f1f1;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px !important;
  border-radius: 50%;
  transition: 0.3s linear;
}

.card:hover .card-icon{
  background: none;
  color: rgb(0, 128, 0);
  transform: scale(1.6);
}

.card p{
  margin-top: 20px;
  font-weight: 300;
  letter-spacing: 2px;
  max-height: 0;
  opacity: 0;
  transition: 0.3s linear;
}

.card:hover p{
  max-height: 40px;
  opacity: 1;
}

@media screen and (max-width:800px) {
  .contact-info{
    flex-direction: column;
  }
  .card{
    width: 100%;
    max-width: 300px;
    margin: 10px 0;
  }
}

.image{
	display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 35px;
}

h1 { text-align:center; color:darkgreen; 
background-color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 2.5em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.2); } 
 h2 {color:darkgreen;   font-family: 'Roboto', sans-serif;
  background: white;
  margin-top: 5px;
  padding-left: 5px;
  display: inline;
  float: left;
  padding-right: 9px;
  clear: both;  
  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.2); } 
  h3 {color:darkgreen;   font-family: 'Roboto', sans-serif;
  background: white;
  margin-top: 5px;
  padding-left: 5px;
  display: inline;
  float: left;
  padding-right: 9px;
  clear: both;    
  font-size: 2em;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.2);}

.text-box { background-color: rgb(59 59 59 / 40%); }

@import "compass/css3";
  
$bg: #20d681;
$fc: #fff;
ul, li{ margin: 0; padding: 0;}
a { transition: all 0.2s ease-in-out; }
#nav{
  text-align: center;
  background-color: green; 
  a{ color: white; font-family: "montserrat",sans-serif; text-decoration: none;  font-size:30px }
  li{
    display: inline;
    position: relative;
    ul{
      position: absolute;
      left:-9999px;      
    }
    a{
      display: inline-block;
      padding: 20px;
    }
    hover{
        a {
          background-color: $fc; 
          color: $bg; 
          //white-space: nowrap; 
        }
        ul { 
          left: 0; 
          text-align: left;
          width: 200px;
          box-shadow: 0px 1px 1px rgba(32, 214, 129, 1) ;
          a {
            display: block;
            padding: 15px 30px 15px 30px;
            border-bottom: 1px solid $bg; 
            &:hover { background-color: $bg; color: $fc;}
          }
       gallery {            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        gallery img {
            width:  calc(33.33% - 10px);
            margin-bottom: 10px;
        }
	